<a href="https://colab.research.google.com/github/Ajigbotosho-1012/Project_1213/blob/main/Module_2_Loops_and_Function_Code_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Code Challenges: Python Loops and Functions

These challenges are designed to test your understanding of Python loops and functions. Carefully read the instructions for each challenge and solve them to practice your coding skills.

## Challenge 1: Sum of Multiples

Write a function called `sum_of_multiples` that takes `two` parameters, `n` and `x`. The function should return the `sum of all multiples` of `x` that are `less` than `n`.

    Example Input: n = 10, x = 3
    Expected Output: 18 (because 3 + 6 + 9 = 18)

In [1]:
# Write code here
def sum_of_multiples(n,x):
    """Returns the sum of all multiples of x that are less than n
    """
    return sum(i for i in range(x,n,x))

n = 10
x = 3

result = sum_of_multiples(10,3)
print(result)

18

Example Input: n = 10, x = 3

Expected Output: 18 (because 3 + 6 + 9 = 18)

## Challenge 2: Prime Numbers

Write a function called `find_primes` that takes an integer `n` and returns a `list of all prime numbers` less than `n`. Use a `for` loop to check each number.

    Example Input: n = 10
    Expected Output: [2, 3, 5, 7]

In [2]:
# Write code here
def find_primes(n):
    primes = []
    for num in range(2, n + 1):
        is_prime = True
        for i in range(2, int(num ** 0.5) + 1):
            if num % i ==0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
    return primes

n = int(input("Enter the number: "))
print("Prime numbers up to ", n, "are:", find_primes(n))

Enter the number: 10
Prime numbers up to  10 are: [2, 3, 5, 7]

Example Input: n = 10

Expected Output: `[2, 3, 5, 7]`

## Challenge 3: Word Counter

Write a function called `count_word_occurrences` that takes a list of words and a specific word as input. The function should return the number of times the word appears in the list.

    Example Input: words = ["apple", "banana", "apple", "orange", "banana"], word = "apple"
    Expected Output: 2

In [3]:
# Write code here
def count_word_occurrences(word_list, target_word):
    """Returns the number of occurrences of a target word in a list.

    Args:
        word_list (list): List of words.
        target_word (str): Word to search for.

    Returns:
    int: Number of occurrences.
    """


    count = 0
    for word in word_list:
        if word.lower() == target_word.lower():
            count += 1
    return count

word_list = ["apple", "banana", "apple", "orange", "banana"]
target_word = "apple"
print(count_word_occurrences(word_list, target_word))

2

Example Input: words = `["apple", "banana", "apple", "orange", "banana"]`, word = "apple"

Expected Output: 2

# Challenge 4: Find Maximum

Write a function called `find_max_in_list` that takes `a list of numbers` as `input` and returns the `largest number in the list`. Use a `for` loop to find the maximum.

    Example Input: numbers = [3, 9, 2, 5, 7]
    Expected Output: 9

In [4]:
# Write code here
def find_max_in_list(numbers):
    """The largest number in the list.

    Args:
        list (int): list of numbers.

    Returns the maximum numbers
    """


    max_num = numbers[0]
    for num in numbers:
        if num > max_num:
            max_num = num
    print(max_num)

numbers = [3,9,2,5,7]
find_max_in_list(numbers)

9

Example Input: numbers = `[3, 9, 2, 5, 7]`

Expected Output: 9

## Challenge 5: Reverse a String

Write a function called `reverse_string` that takes a `string` as `input` and returns the `string reversed`. Do not use any built-in functions like reversed(). Use a for loop instead.

    Example Input: "hello"
    Expected Output: "olleh"

In [5]:
# Write code here
def reverse_string(s):
    reversed_s = ""
    for char in s:
        reversed_s = char + reversed_s
    return reversed_s
s = input("Enter the string")
reverse_string(s)

Enter the stringhello

'olleh'

Example Input: `"hello"`

Expected Output: `"olleh"`

## Challenge 6: Multiplication Table

Write a for loop that prints the multiplication table for a given number n (up to 10).

    Example Input: n = 5
    Expected Output:

    5 x 1 = 5  
    5 x 2 = 10  
    5 x 3 = 15  
    ...
    5 x 10 = 50

In [6]:
# Write code here
def prints_multiplication_table(n):
    """Prints a multiplication table for n up to 10.

    Args:
        n (int): Number for which the table is generated.
    """
    print(f"Multiplication Table for {n}:")
    for i in range(1, 11):
        product = n * i
        print(f"{n} * {i} = {product}")

n = 5
prints_multiplication_table(n)

Multiplication Table for 5:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## Challenge 7: Fibonacci Sequence

Write a function called `fibonacci` that takes an integer `n` and returns a list of the first `n` numbers in the `Fibonacci sequence`.

    Example Input: n = 5
    Expected Output: [0, 1, 1, 2, 3]

In [7]:
# Write code here
def Fibonacci(n):
    """
    Returns a list of the first n numbers in the fibonacci sequence.

    Args:
        n (int): Number of Fibonacci numbers to generate.

    Returns:
    list: Fibonacci numbers
    """
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1]
                            + fib_sequence[-2])
    return fib_sequence[:n]

n = 5

print(Fibonacci(n))

[0, 1, 1, 2, 3]

## Challenge 8: Filter Even Numbers

Write a function called `filter_evens` that takes a `list` of numbers as input and returns a new list containing only the `even numbers`. Use a for loop and if condition.

    Example Input: numbers = [1, 2, 3, 4, 5, 6]
    Expected Output: [2, 4, 6]

In [8]:
# Write code here
def filters_evens(numbers):
    """
    Returns a new list containing only the even numbers.

    Args:
        numbers (list): List of numbers.

    Returns:
    list: Even numbers.
    """

    even_numbers = []
    for num in numbers:
        if num % 2 == 0:
            even_numbers.append(num)
    return even_numbers
numbers = [1,2,3,4,5,6]
even_numbers = filters_evens(numbers)
print(even_numbers)

[2, 4, 6]

## Challenge 9: Count Vowels

Write a function called `count_vowels` that takes a `string` as input and returns the `number` of `vowels` in the string. Use a `for` loop to iterate through the characters.

    Example Input: "education"
    Expected Output: 5

In [9]:
# Write code here
def count_vowels(s):
    """
    Returns the number of vowels in the input string.

    Args:
        s (str): input string

    Returns:
    int: Vowel count.
    """
    vowels = 'aeiou'
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count
input_string = "education"
vowel_count = count_vowels(input_string)
print(vowel_count)

5

## Challenge 10: Nested Loops for Patterns

Write a `nested` `for` `loop` to generate the following pattern for a given number of rows `n`:

    Example Input: n = 5
    Expected Output:

```
*  
**
***
****
*****
```

In [10]:
# Write code here
n = 5
for i in range(1, n+1):
    for j in range(1,i + 1):
        print(j,end = "")
    print()

1
12
123
1234
12345